@import "./defaults.css";
@import "./variables.css";

body {
  font-family: var(--font-main), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

main {
  min-height: 100vh;
  background-color: var(--neutral-very-dark-blue);
  position: relative;
  z-index: 1;
}

.body-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.body-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.container__item {
  background-color: var(--neutral-dark-blue);
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 30rem;
}

.info-section {
  border-top-right-radius: 5rem;
}

.container__icons-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 1rem;
}

.container__logo {
  max-width: 7.5rem;
  margin-bottom: 2rem;
  display: block;
}

.container__icon {
  background-color: var(--neutral-very-dark-blue);
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

/* progress bar */
.storage-indicator {
  width: 100%;
  height: 1.125rem;
  border-radius: 5rem;
  display: flex;
  background: var(--neutral-very-dark-blue);
  margin-block: 1rem;
  position: relative;
}

.storage-indicator::after {
  content: "";
  width: 0.865rem;
  height: 0.865rem;
  border-radius: 50%;
  background: var(--neutral-pale-blue);
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  margin-block: auto;
  display: block;
}

.container__text {
  color: var(--neutral-pale-blue);
}

.text-bold {
  font-weight: var(--fw-bold);
}

.storage-indicator::before {
  content: "";
  background: var(--primary-gradient);
  height: 100%;
  margin: auto;
  width: 86.5%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5rem;
}

.storage-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storage-value {
  color: var(--neutral-pale-blue);
}

.data-section {
  position: relative;
}

/* available storage */
.avail-storage-data-wrapper {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  margin: auto;
  bottom: -20%;
  left: 0;
  right: 0;
  max-width: 10rem;
  text-transform: uppercase;
  text-align: center;
}

.avail-data {
  color: var(--neutral-grayish-blue);
}

.text-lg {
  color: var(--neutral-very-dark-blue);
  font-size: 1.75rem;
}

@media screen and (width > 50rem) {
  .container {
    grid-template-columns: auto 1fr;
    align-items: end;
  }

  .info-section {
    height: 12.5rem;
  }

  .data-section {
    max-width: 50rem;
    height: 10rem;
  }

  .container__text {
    font-size: 1.25rem;
  }

  .storage-value {
    font-size: 1.25rem;
  }

  .avail-storage-data-wrapper {
    top: -50%;
    margin: 1rem;
    padding-inline: 2rem;
    min-width: fit-content;
    left: 75%;
    right: -50%;
    height: 5rem;
  }

  .avail-storage-data-wrapper::after {
    content: "";
    bottom: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 0.125rem;
    position: absolute;
    bottom: -20%;
    left: -0.5px;
    clip-path: polygon(0 100%, 0 0, 100% 0);
  }
}
